@font-face {
    font-family: "Rasa";
    src: url("../font/Rasa-VariableFont_wght.ttf");
    font-weight: 500;
    font-style: normal;
}

* {
    font-family: Rasa, 'sans-serif';
    margin: 0;
}

.logout-session {
    position: absolute; right: 0;
}

.header-header {
    background-color: rgb(0, 255, 157);
    padding-left: 1vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

.header h1 {
    font-size: 2.5em;
    color: #333;
    margin-top: 1.5vh;
}

.header h2 {
    font-size: 1.5em;
    color: #555;
    margin-top: 0.2vh;
    margin-bottom: 1.5vh;
}

.navbar ul {
    list-style-type: none;
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.navbar li a:hover {
    background-color: #575757;
}

.dashboard-content {
    background-color: antiquewhite;
    align-content: center;
}

.dashboard-content h3 {
    padding: 1vh;
    color: #333;
}

.dashboard-content table, .dashboard-content th, .dashboard-content td {
    border: 1px solid #000000;
    padding: 2px;
}